*{
  box-sizing: border-box;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

body, html {
  width: 100%;
  height: 100%;
  font-size: 15px;
}
body{
  font-family: 'Segoe UI', sans-serif;
  background-color: #EDECF1;
  overflow-y: scroll;
  color: #2b2b2b;
}

header{
  background-color: #4A4C61;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin:0;
  padding: 0;
}
