
.app-menu{
  margin:0;
  padding: 0;
  float: right;
}
.app-menu li{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.app-menu a{
    display: inline-block;
    margin: 0 -5px 0 0;
    padding: 13px 20px 14px;
    color: #fff;
    border-left: 1px solid #595B70;
    border-bottom: 4px solid #B1B5C7;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    cursor: pointer;
}
.app-menu a:hover{
  background-color: #B1B5C7
}

.app-menu li:first-child a{
  border-bottom-color: #C90300;
  border-left: 0;
}
.app-menu li:first-child a:hover{
  background-color: #C90300;
}

.app-menu li:nth-child(2) a{
  border-bottom-color: #187CB0;
}
.app-menu li:nth-child(2) a:hover{
  background-color: #187CB0;
}

.app-menu li:nth-child(3) a{
  border-bottom-color: #40A25F;
}
.app-menu li:nth-child(3) a:hover{
  background-color: #40A25F;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header h1{
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #848693;
    padding: 0px 10px 0 0;
    margin: 12px 0;
    line-height: 24px;
}
h1::before{
    display: inline-block;
    content: '\00a0';
    width: 25px;
    height: 25px;
    background-color: #C90300;
    margin-right: 10px;
}

@media (min-width: 768px) {

  header h1{
    display: inline-block;
    text-align: center;
  }
  main {
    display: block;
    width: 100%;
    margin:0 0 25px;
    clear: both;
  }
  sidebar{
    display: block;
    width: 100%;
    margin: 25px 0 0;
    clear: both;
  }
}

@media (max-width: 768px) {
  main{
    margin: 20px 2% 20px 0px;
  }
}

@media (min-width: 992px) {
  header h1{
      float: left;
  }
  main{
    display: inline-block;
    width: 72%;
    padding: 0;
    margin: 20px 2% 0 0px;
  }
  sidebar {
    display: inline-block;
    width: 25%;
    margin: 20px 0 0 0;
    vertical-align: top;
  }
}

.sub-header {
  background-color: #fff;
  margin: 0;
  padding: 18px 20px;
  box-shadow: 1px 2px 2px #ccc;
}
.sub-header ul{
  display: inline-block;
  list-style: none;
}
.sub-header li{
  display: inline-block;
  list-style: none;
  line-height: 22px;
}
.sub-header .price{
  display: inline-block;
  float: right;
  position: absolute;
  line-height: 22px;
}

.sub-header li a{
  text-decoration: none;
  color: #B4B6CB;
  font-size: 1.0em;
  margin: 0 2.0em 0 0;
}
.sub-header .price span {
  color: #C90300;
  font-weight: bold;
}


.card-header {
  width: 100%;
  text-transform: uppercase;
  color: #A7A9C7;
  margin: 0px 0 10px;
}
.card-header strong{
  font-weight: normal;
  font-size: 1.1em;
}

.card-header span {
  font-weight: normal;
  font-size: 1.1em;
  float: right;
}
.card-header small{
  color: #C90300;
  font-size: 1.0em;
}

article {
  background-color: #fff;
  color: #aaa;
  padding: 10px 20px;
  box-shadow: 1px 2px 2px #ccc;
}
article h2{
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 1.0em 0 0.5em;
}
article h3{
  color:#5C6492;
  font-size: 1.7em;
  margin: 0.5em 0 1.0em;
}

article p{
  font-size: 1.0em;
  color: #ACA9BB;
  line-height: 26px;

}

.classify .header{
  display: inline-block;
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 1.1em;
  text-transform: uppercase;
}

.classify ul {
  border-top: 1px solid #E4E4E4;
  margin: 0;
  padding: 12px 0 14px;
}
.classify ul li{
  list-style: none;
  display: inline-block;
  width: 24%;
  margin: 0;
  padding: 0;
}

.classify li strong{
  display: block;
  font-weight: normal;
  font-size: 0.85em;
  line-height: 20px;
}

.classify li span{
  display: block;
  font-weight: bold;
  font-size: 0.92em;
}

.contact-card{
  background-color: #fff;
  padding: 15px 10px;
  box-shadow: 1px 2px 2px #ccc;
  margin: 0 0 15px;
}

@media (min-width: 767px) {
  .contact-card img{
    width: 15%;
    float: none;
  }
}

@media (min-width: 968px) {
  .contact-card img{
    width: 24%;
    float: left;
  }
}
.contact-card img{
  margin-right: 10px;
}
.contact-card strong{
  display: block;
  font-size: 0.98em;
  opacity: 0.9;
}

.contact-card span{
  display: block;
  font-size: 0.85em;
  opacity: 0.6;
}


.accord {
  background-color: #C71F40;
  padding: 5px 10px;
  box-shadow: 1px 2px 2px #bbb;
  margin: 0 0 15px;
}
.accord a{
  display: inline-block;
  text-transform: uppercase;
  opacity: 0.8em;
  color: #fff;
  padding: 18px 15px;
}
.accord a i{
  display: inline-block;
  margin: 0 8px 0 0;
}
.accord li:nth-child(2){
  border: solid #C7677A;
  border-width: 1px 0;
}

.links-card {
  background-color: #fff;
  padding: 5px 10px;
  box-shadow: 1px 2px 2px #ccc;
  margin: 0 0 25px;
}
.links-card a{
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  opacity: 0.8em;
  padding: 18px 15px;
  border-bottom: 1px solid #eee;
  color: #9697B5;
}
.links-card a:hover {
  background-color: #CFD2DB;
  color: #4D4C66;
}
.links-card a i{
  display: inline-block;
  margin: 0 8px 0 0;
}
.links-card li:last-child a, .market-card li:last-child a{
  border-bottom: 0;
}

sidebar h4{
  color: #9C9CB4;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: normal;
}
.market-card{
  background-color: #fff;
  padding: 5px 10px 10px;
  box-shadow: 1px 2px 2px #ccc;
  margin: 15px 0 15px;
}

.market-card a{
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  color: #9697B5;
}
.market-card strong{
  display: block;
  color: #C90300;
  font-weight: normal;
  font-size: 0.85em;
  text-transform: uppercase;
  line-height: 24px;
}
.market-card span {
  color: #979199;
  font-size: 1.1em;
}
.market-card button {
  cursor: pointer;
  display: inline-block;
  float: right;
  background-color: #C90300;
  color: #fff;
  font-size: 0.95em;
  border:0;
  outline: 0;
  padding: 8px 12px
}
.carousel {
  margin: 0 0 15px;
}

.carousel h5{
  color: #7A7B99;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 15px;
}

.carousel li {
  display: inline-block;
  background-color: #fff;
  padding: 0 0 15px;
  box-shadow: 1px 2px 2px #ccc;
  margin: 0 12px 15px;
}

.carousel li img, .carousel li strong, .carousel li span{
  display: block;
}

.carousel li img{
  width: 200px;
}

.carousel li span{
  font-size: 0.9em;
  text-align: left;
  padding: 10px 0;
  font-weight: bold;
  opacity: 0.5;
  margin: 5px 10px 0px;
  border-bottom: 1px solid #ccc;
}
.carousel li strong{
  text-align: center;
  font-size: 0.9em;
  color: #C90300;
  font-weight: normal;
  padding: 10px 0 0;
}
.carousel li small{
  font-size: 1.1em;
  color: #C90300;
  font-weight: bold;
}




.accord .phone{

    background: #fff;
    color: #C90300;
    text-align: center;
    padding: 10px 0;
    font-size: 1.3em;
}

.accord form{
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 20px;
}
.accord input{
  width: 100%;
  margin: 0px 0 16px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.accord .message-in{
  padding-bottom: 75px;
}

.accord button{
  cursor: pointer;
  background-color: #4A4C61;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 10px;
}

.accord .collapse{
  display: none;
}

.hero-slideshow {
  margin: 20px 0;
  padding: 0 0;
}

.hero-slideshow img{
  width: 100%;
  box-shadow: 1px 2px 2px #aaa;

}
